@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/reset.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/960.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/text.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);



html,body{
  background-color: #E6E6E6;
  text-align: center;
}

hr{
    border:0; 
    height:1px; 
    background-color:gray;
	color:gray;
    text-align: center;	
}
.right hr{
    border:0; 
    height:1px; 
    background-color:gray;
	color:gray;	
}

.container {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 1024px;
  text-align: left;
  }
.left {
      float: left;
      width: 240px;
      margin:0px 30px 0px 0px;
}
.right{
      padding:10px;
      width: 730px;
      overflow: hidden;
      background-color:white;
}

.SEARCH_Search{
    text-align: center;
    padding:10px;
    margin-bottom:20px;
}
.SEARCH_Search h2{
    text-align:left;
    color:gray;
    font-family:'微軟正黑體'
}
#search {
margin-left:20px;
width: 200px;
padding: 10px;
float: left;
background: url(search.png) no-repeat;
}
#s {
width: 170px;
height: 35px;
float: left;
margin-left: -6px;
margin-top: -12px;
border: none;
background: none;
color: #000000;
font-family: Arial;
}
#r {
width: 30px;
height: 35px;
margin-right: 12px;
margin-top: -37px;
float: right;
cursor: pointer;
border: none;
background: none;
}

.SEARCH_Filter{
text-align: center;
    padding:10px;
}
.SEARCH_Filter h2{
    text-align:left;
    color:gray;
    font-family:'微軟正黑體'
}
.days_filter input{
    text-align: center
}


.SEARCH_Filter p{
  letter-spacing:35px;
  margin-left:33px;
  margin-top:5px;
}
.days{
  margin-right:15px;
  margin-top:-20px;
}
.days li{
  display: inline-block;
  font-family:'微軟正黑體';
  font-size: 12px;
  margin-left:15px;
}
    input[type='range'] {
-webkit-appearance: none;
border-radius: 5px;
box-shadow: inset 0 0 5px #333;
background-color: #990000;
height: 10px;
        width:170px;
vertical-align: middle;
}
input[type='range']::-moz-range-track {
-moz-appearance: none;
border-radius: 5px;
box-shadow: inset 0 0 5px #333;
background-color: #990000;
height: 10px;
}
input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none !important;
border-radius: 20px;
background-color: #FFF;
box-shadow:inset 0 0 10px rgb(250,200,200);
border: 1px solid #990000;
height: 20px;
width: 20px;
}
input[type='range']::-moz-range-thumb {
-moz-appearance: none;
border-radius: 20px;
background-color: #FFF;
box-shadow:inset 0 0 10px rgb(250,200,200);
border: 1px solid #990000;
height: 20px;
width: 20px;
}

.type{
border-style: solid;
  border-color:gray;
  border-width: 1px;
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 15px/100% Arial, Helvetica, sans-serif;
padding: 2px 3px 2px 3px;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family:'微軟正黑體';
}
.type:visited {
position: relative;
top: 1px;
}
.type:hover {
text-decoration: none;
}
.type:active {
position: relative;
top: 1px;
}

.click{
border-style: solid;
  border-color:gray;
  border-width: 1px;
color:white;
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 15px/100% Arial, Helvetica, sans-serif;
padding: 2px 3px 2px 3px;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family:'微軟正黑體';
background-color:#990000
}
.click:visited {
position: relative;
top: 1px;
}
.click:hover {
text-decoration: none;
}
.click:active {
position: relative;
top: 1px;
}


.SEARCH_Arrangement{
text-align: center;
    padding:10px;
}
.SEARCH_Arrangement h2{
    text-align:left;
    color:gray;
    font-family:'微軟正黑體'
}
.SEARCH_Arrangement select{
   background: transparent;
   margin:5px 0px 0px 0px;
    width: 230px;
   padding:0px 0px 0px 40px;
   font-size: 16px;
   border-style: solid;
   border-width: 0px;
   height: 34px;
   -webkit-appearance: none;
   font-family:'微軟正黑體';
}
.select {
   margin:0px 10px 0px 10px;
   height: 35px;
   overflow: hidden;
   background: url(select.png) no-repeat left white;
}

.SEARCH_Arrangement option{
  font-size: 15px;
  font-family:'微軟正黑體';
}

a{
  text-decoration:none;
}

img{
  border-style: solid;
  border-color:white;
  border-width: 2px;
  width:280px;
  height:210px;
  float:left;
  margin:0px 50px 0px 0px;
  
}
.all{
  width:750px;
  height:210px;
  margin:0px 0px 30px 0px;
}

.time{
  text-align:center;
  font-size: 15px;
  padding:15px 0px 0px 0px;
  color:white;
}
.time span{
  text-align:center;
  font-size: 20px;
  margin:0px 40px 0px 0px;
  padding:10px 150px 10px 150px;
  background-color: #990000;
  color:white;
}

.name{
  text-align:center;
  font-size: 23px;
  color:black;
  margin:0px 40px 10px 0px;
  font-family:'微軟正黑體';
}


.about {
  width:730px;
  font-size: 1em;
  color:black;
  font-family:'微軟正黑體';
}
