

html,body{
  background-color:  rgb(255,250,250);
  text-align: center
}
.container {
  
  position: relative;
  margin: 0 auto;
  width: 1080;
  text-align: left;
  }
.left {  
      float: left; 
      width: 220; 
      margin:0px 30px 0px 0px;
}
.right{
      width: 830;
      overflow: hidden
}

.SEARCH_Search{
    text-align: center;
    padding:10px;
}
.SEARCH_Search h2{
    text-align:right;
    color:white;
    background:rgb(150,30,40);
}
#search {
border-style: solid;
border-width: 1px;
border-color:rgb(150,30,40);
  width: 160px;
height: 25px;
padding-left: 20px;
margin-left:10px;
float: center;
background: url(http://lh4.ggpht.com/_HjB26hkIEK8/S4UX4mBAUJI/AAAAAAAAJ-w/lhFHjjiCmmw/Search%20007.gif) no-repeat;
}
#s {
margin-top:2px;
width: 150px;
height: 21px;
border: none;
color: #000000;
font-family: Arial;
}

.SEARCH_Filter{
	text-align: center;
    padding:10px;
}
.SEARCH_Filter h2{
    text-align:right;
    color:white;
    background:rgb(150,30,40);
}
.days_filter input{
    text-align: center
}

.days_filter p{ 
  margin:5px 0px 20px 23px;
  letter-spacing: 24px;
}
    input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: rgb(150,30,40);
		height: 10px;
		vertical-align: middle;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: rgb(150,30,40);
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgb(250,200,200));
		border: 1px solid rgb(150,30,40);
		height: 20px;
		width: 20px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgb(250,200,200);
		border: 1px solid rgb(150,30,40);
		height: 20px;
		width: 20px;
	}

.type input {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 15px/100% Arial, Helvetica, sans-serif;
	padding: 2px 3px 2px 3px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family:'微軟正黑體';
}
.type input:visited  {
	position: relative;
	top: 1px;
}
.type input:hover {
	text-decoration: none;
}
.type input:active {
	position: relative;
	top: 1px;
}


.SEARCH_Arrangement{
	text-align: center;
    padding:10px;
}
.SEARCH_Arrangement h2{
    text-align:right;
    color:white;
    background:rgb(150,30,40);
}
.SEARCH_Arrangement select{
   background: transparent;
   margin:5px 0px 0px 0px;
    width: 200px;
   padding:0px 0px 0px 40px;
   font-size: 16px;
   border-style: solid;
   border-width: 0px;
   height: 34px;
   -webkit-appearance: none; 
   font-family:'微軟正黑體';
}
.select {  
   margin:0px 10px 0px 10px;
   height: 35px;
   overflow: hidden;
   background: url(http://images.cnblogs.com/cnblogs_com/shishm/201203/201203021104209592.jpg) no-repeat left #ddd;
}

.SEARCH_Arrangement option{
  font-size: 15px;
  font-family:'微軟正黑體';
}

a{
  text-decoration:none;
}

img{
  border-style: solid;
  border-color:white;
  border-width: 2px;
  width:280px;
  height:210px;
  float:left;
  margin:0px 50px 0px 0px;
  
}
.all{
  width:830;
  height:210px;
  background-color: rgb(250,250,240);
  margin:0px 0px 30px 0px;
}

.time{  
  text-align:center;
  font-size: 15px;
  padding:15px 0px 0px 0px;
  background-color:  rgb(250,250,240);
  color:white;
} 
.time span{
  text-align:center;
  font-size: 20px;
  margin:0px 40px 0px 0px;
  padding:10px 150px 10px 150px;
  background-color:  rgb(150,30,40);
  color:white;
}

.name{
  text-align:center;
  font-size: 23px;
  color:black;
  margin:0px 40px 10px 0px;
  font-family:'微軟正黑體';
  background-color:  rgb(250,250,240);
}


.about { 
  width:780px;
  font-size: 1em;
  background-color: rgb(250,250,240);
  color:black;
  font-family:'微軟正黑體';
}
