html,body{
  background-color: #E6E6E6;
}
h3{
  font-family:'微軟正黑體';
  color:gray;
}
.left{
  margin-bottom:100px;
}
.right{
      background-color:white;
}

hr{
    border:0;
    height:1px;
    background-color:gray;
color:gray;
    text-align: center;	
}
.right hr{
    border:0;
    height:1px;
    background-color:gray;
color:gray;
    text-align: center;	
    width:80%;
}
.Search_search{
  margin-bottom:-20px;
}
#search {
margin-left:0px;
width: 200px;
padding: 10px;
float: left;
background: url(search.png) no-repeat;
}
#search_text {
float:left;
margin-left:-30px;
width:170px;
height:30px;
padding:0px 10px 0px 10px;
border: none;
/*background: none;
color: #000000;*/
}
#sub_btn {
float: right;
width:30px;
height: 30px;
cursor: pointer;
/*border: none;
background: none;*/
}

.Search_days p{
  letter-spacing:35px;
  margin-left:5px;
  margin-top:-10px;
  margin-bottom:-2px;
  color:gray;
}
.days li{
  display: inline-block;
  color:gray;
  font-family:'微軟正黑體';
  font-size: 12px;
  margin-left:-2px;
}
 input[type='range'] {
-webkit-appearance: none;
border-radius: 5px;
box-shadow: inset 0 0 5px #333;
background-color: #990000;
height: 10px;
width:170px;
vertical-align: middle;
}
input[type='range']::-moz-range-track {
-moz-appearance: none;
border-radius: 5px;
box-shadow: inset 0 0 5px #333;
background-color: #990000;
height: 10px;
}
input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none !important;
border-radius: 20px;
background-color: #FFF;
box-shadow:inset 0 0 10px rgb(250,200,200);
border: 1px solid #990000;
height: 20px;
width: 20px;
}
input[type='range']::-moz-range-thumb {
-moz-appearance: none;
border-radius: 20px;
background-color: #FFF;
box-shadow:inset 0 0 10px rgb(250,200,200);
border: 1px solid #990000;
height: 20px;
width: 20px;
}
.type{
color:gray;
border-style: solid;
  border-color:gray;
  border-width: 1px;
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 15px/100% Arial, Helvetica, sans-serif;
padding: 5px 5px 5px 5px;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family:'微軟正黑體';
background-color:white;
margin:2px;
}
.type:visited {
position: relative;
top: 1px;
}
.type:hover {
text-decoration: none;
background-color: #ebebeb;
border-color: #adadad;
}
.type:active {
position: relative;
top: 1px;
}

.click{
border-style: solid;
  border-color:gray;
  border-width: 1px;
color:white;
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 15px/100% Arial, Helvetica, sans-serif;
padding: 5px 5px 5px 5px;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-family:'微軟正黑體';
background-color:#990000;
margin:2px;
}
.click:visited {
position: relative;
top: 1px;
}
.click:hover {
text-decoration: none;
background-color:rgb(150,30,40);
border-color: rgb(160,30,40);
}
.click:active {
position: relative;
top: 1px;
}

.Search_sort select{
   background: transparent;
   margin-left:0px;
   margin-top:0px;
   width: 170px;
   font-size: 16px;
   padding-left:35px;
   border-style: solid;
   height: 35px;
   -webkit-appearance: none;
   font-family:'微軟正黑體';
}

.Search_select {
   margin:0px 0px 0px 0px;
   height: 35px;
   width:170px;
   overflow: hidden;
   background: url(select.png) no-repeat left white;
}

.Search_sort option{
  font-size: 15px;
  font-family:'微軟正黑體';
}

img{
  height:300px;
  width:400px;
}

.Search_time{
  margin-top:10px;
  font-size: 1.5em;
  color:white;
  background-color:#990000;
  padding:10px 100px 10px 100px;
}
.Search_name{
  padding-left:1.5em;
  padding-right:1.5em;
  color:black;
}
p{
  font-family:'微軟正黑體';
}
a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(26,26,26);
  text-decoration: none;
}
